{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracker</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}"
    />
  </head>

  <body>
    <div class="main">
      <div class="sidebar">
        <h1>Clockify</h1>
        <ul>
          <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == "index" %}active{% endif %}">Tracker</a></li>
          <li><a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == "dashboard" %}active{% endif %}">Dashboard</a></li>
          <li><a href="{% url 'search' %}" class="{% if request.resolver_match.url_name == "search" %}active{% endif %}">search</a></li>
        </ul>
      </div>

      <div class="container">{% block content %}{% endblock %}</div>
    </div>

    {% block script %} {% endblock script %}
  </body>
</html>
