{% extends 'tracker/index.html' %} {% load static %} {% block content %}

<div class="row">
  <form action="{% url 'search' %}" method="GET" role="form">
    <input type="text" name="q" />
    <button type="submit" value="project" id="search">Search Activity</button>
  </form>
</div>

  {% if activity %}
<div class="list-activity">
  <ul>
    {% for ac in activity %}

    <li
      id="{{ac.id}}"
      data-complete="{{ac.complete}}"
      data-start="{{ac.startTime|date:'Y-m-d H:i:s'}}"
      data-end="{{ac.endTime|date:'Y-m-d H:i:s'}}"
    >
      <b>Title:- </b> {{ac.title}} <br />
      <b>Project:- </b> {{ac.project}} <br />
      <b>Start Time:- </b> {{ac.startTime}} <br />
      <b>End Time:- </b> {{ac.endTime}} <br />
      {% if ac.complete == False %}
      <a class="end-time" href="{% url 'complete' ac.id %}">End Time</a>
      {% endif %}
      <br />

      <span id="displayTime-{{ac.id}}"></span>
    </li>
    {% endfor %}
  </ul>
</div>


{% else %}

    No activity

{% endif %}
{% endblock content %} {% block script %}
<script src="{% static '/js/search.js' %}"></script>
{% endblock script %}
